#       _ _                   __ _       
#      (_) |                 / _(_)      
#  __ _ _| |_ ___ ___  _ __ | |_ _  __ _ 
# / _` | | __/ __/ _ \| '_ \|  _| |/ _` |
#| (_| | | |_ (__ (_) | | | | | | | (_| |
# \__, |_|\__\___\___/|_| |_|_| |_|\__, |
#  __/ |                            __/ |
# |___/                            |___/ 
#
# Author: Chase Struck
# Source: https://github.com/chasestruck/dotfiles/blob/master/.gitconfig
#
[user]
	name = Chase Struck
	email = chasestruck@protonmail.com
[commit]
	template = ~/.gitmessage
[push]
	default = simple
[fetch]
	prune = true
[color]
	ui = auto

[color "branch"]
        current = yellow reverse
        local = yello
	remote = green


[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
	new = green bold


[color "status"]
        added = yellow
        changed = green
	untracked = red

[core]
	ignorecase = false
	editor = vim
	pager = less

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
